<template>
    <div
        @click="closeBlock"
        class="
            top-0
            bottom-0
            left-0
            right-0
            bg-opacity-80 bg-gray-900
            fixed
            flex
            z-10
        "
    >
        <div
            class="
                m-auto
                h-96
                w-96
                bg-red-400
                rounded-xl
                flex
                items-center
                justify-evenly
                flex-col
                border-purple-600 border-4
            "
        >
            <div class="flex justify-center items-center">
                <BaseIcon name="sadSmile" class="h-8 w-8 mx-2" />
                <div class="text-4xl font-bold">YOU LOSE</div>
                <BaseIcon name="sadSmile" class="h-8 w-8 mx-2" />
            </div>
            <div class="h-16 px-4 text-lg font-medium text-center">
                Sorry you can't go!!!
            </div>
            <Button @click="resetGame" class="w-20 h-12 bg-blue-400">
                START
            </Button>
            <Button @click="loadGame" class="w-28 h-12 bg-blue-400">
                <BaseIcon name="return" class="w-6 h-6 mr-1" />
                <span>RETURN</span>
            </Button>
            <Button @click="closeBlock" class="w-40 h-12 bg-blue-400">
                Continue
            </Button>
        </div>
    </div>
</template>

<script>
import BaseIcon from '../components/UI/BaseIcon.vue'
import Button from './UI/Button.vue'

export default {
    components: {
        BaseIcon,
        Button,
    },
    methods: {
        closeBlock() {
            this.$emit('closeBlock')
        },
        resetGame(e) {
            this.$emit('resetGame')
        },
        loadGame() {
            this.$emit('loadGame')
        },
    },
}
</script>
