<template>
    <div class="w-96 border border-gray-800 rounded-lg">
        <div class="p-2 text-xl font-bold">Table Your Record</div>
        <div class="flex items-center justify-between py-2">
            <div class="w-14 h-6 text-lg font-semibold pl-1">Open</div>
            <div class="w-16 text-lg font-semibold text-center">Score</div>
            <div class="w-20 text-lg font-semibold text-center">Time</div>
            <div class="w-8 text-lg font-semibold text-center">M</div>
            <div class="w-20 text-lg font-semibold text-center">Date</div>
            <div class="w-10 h-6 text-lg font-semibold text-center">Del</div>
        </div>
        <div
            class="p-2 border-t border-gray-800"
            v-if="allSaveGames.length == 0"
        >
            The list of achievements is empty, please press "SAVE" button to
            save game board, time and points.
        </div>
        <div
            v-for="(item, index) in allSaveGames"
            :key="index"
            class="
                flex
                items-center
                justify-between
                border-t border-gray-800
                p-1
            "
        >
            <div class="w-8 flex items-center font-medium">
                <Button
                    @click="loadSave(item)"
                    class="w-7 h-7 bg-blue-400 hover:bg-green-500"
                >
                    <BaseIcon name="showState" class="h-5 w-5" />
                </Button>
            </div>
            <div class="w-5 font-semibold text-center">{{ index + 1 }}.</div>
            <div class="w-16 font-medium text-center">
                {{ item[0] }}
            </div>
            <div class="w-24 font-medium text-center">{{ item[1] }} Sec</div>
            <div class="w-5 font-medium text-center">{{ item[4] }}</div>
            <div class="w-24 font-medium text-center">
                {{ item[2] }}
            </div>
            <div class="w-8 flex items-center font-medium">
                <Button
                    @click="delleteSave(index)"
                    class="w-7 h-7 bg-blue-400 hover:bg-red-700"
                >
                    <BaseIcon name="trash" class="h-5 w-5" />
                </Button>
            </div>
        </div>
    </div>
</template>
<script>
import BaseIcon from './UI/BaseIcon.vue'
import Button from './UI/Button.vue'

export default {
    props: {
        allSaveGames: {
            type: Array,
            required: true,
        },
    },
    components: {
        BaseIcon,
        Button,
    },
    data() {
        return {}
    },
    methods: {
        delleteSave(i) {
            this.$emit('delleteSave', i)
        },
        loadSave(item) {
            this.$emit('loadSave', item)
        },
    },
}
</script>
