<template>
    <DefeatPage
        @closeBlock="close_window()"
        @resetGame="resetAndStartGame()"
        @loadGame="returnThePreviousValue($event)"
        class="overflow-hidden"
        v-if="showLostWindow"
    ></DefeatPage>
    <VictoryPage
        :victoryNum="victoryNum"
        @closeBlock="close_window()"
        @saveProgress="saveProgressDataInLS"
        class="overflow-hidden"
        v-if="showVictoryWindow === victoryNum"
    ></VictoryPage>
    <div class="m-0 w-full h-full min-w-320px flex items-center flex-col">
        <div class="w-96 h-14 my-4 flex justify-between items-center">
            <div class="pl-2 text-4xl font-mono font-black">
                {{ victoryNum }}+ Game
            </div>
            <div class="flex items-center justify-between w-28">
                <Button
                    @click="showRecord = !showRecord"
                    :class="showRecord ? 'bg-red-400' : 'bg-blue-400'"
                    class="w-12 h-12"
                >
                    <BaseIcon name="recordList" class="h-8 w-8 mx-2" />
                </Button>
                <Button
                    @click="showSpecifications = !showSpecifications"
                    :class="showSpecifications ? 'bg-red-400' : 'bg-blue-400'"
                    class="w-12 h-12"
                >
                    <BaseIcon name="info" class="w-8 h-8 mx-2" />
                </Button>
            </div>
        </div>
        <transition name="block">
            <RulesOfTheGame v-if="showSpecifications" />
        </transition>
        <transition name="block">
            <StoredDataTable
                :allSaveGames="historyRecordData"
                @delleteSave="removeThisSavedGameFromLS"
                @loadSave="loadThisGameData"
                v-if="showRecord"
            />
        </transition>
        <div class="w-96 p-2 h-full flex items-center justify-between">
            <Button @click="resetAndStartGame()" class="w-20 h-12 bg-blue-400">
                START
            </Button>
            <Button
                @click="saveProgressDataInLS()"
                class="w-20 h-12 bg-blue-400"
            >
                SAVE
            </Button>
            <Button
                @click="returnThePreviousValue($event)"
                class="w-28 h-12 bg-blue-400"
            >
                <BaseIcon name="return" class="w-6 h-6 mr-1" />
                <span>RETURN</span>
            </Button>
        </div>
        <div
            class="
                flex
                justify-between
                items-center
                text-lg
                font-medium
                w-96
                p-3
            "
        >
            <div class="">Select the multiplicity if you like</div>
            <Button class="w-10 h-10 bg-blue-400">
                <BaseIcon
                    @click="showMultipleBar = !showMultipleBar"
                    name="multipleBar"
                    :class="showMultipleBar ? 'bg-red-400' : 'bg-blue-400'"
                    class="pt-1 pl-1 rounded-lg"
                />
            </Button>
        </div>
        <transition name="block">
            <div
                v-if="showMultipleBar"
                class="flex items-center justify-between p-3 w-96"
            >
                <Button
                    @click="chengeMultipleNumber(2)"
                    :class="multipleNumber == 2 ? 'bg-red-400' : 'bg-blue-400'"
                    class="w-20 h-12"
                >
                    2x Rate
                </Button>
                <Button
                    @click="chengeMultipleNumber(3)"
                    :class="multipleNumber == 3 ? 'bg-red-400' : 'bg-blue-400'"
                    class="w-20 h-12"
                >
                    3x Rate
                </Button>
                <Button
                    @click="chengeMultipleNumber(5)"
                    :class="multipleNumber == 5 ? 'bg-red-400' : 'bg-blue-400'"
                    class="w-20 h-12"
                >
                    5x Rate
                </Button>
            </div>
        </transition>
        <div class="w-96 flex items-center justify-between p-3">
            <div class="">&#11088; Record: {{ scoreData }}</div>
            <div class="">&#9201; Time: {{ gameStartTime }}</div>
            <div class="w-24 h-10 flex items-center justify-between">
                <Button class="w-10 h-10 bg-red-500">
                    <BaseIcon
                        @click="clearIntervalGameTime()"
                        name="stopTimer"
                        class="-m-1"
                    />
                </Button>
                <Button class="w-10 h-10 bg-green-400">
                    <BaseIcon
                        @click="runStopWatch()"
                        name="runTimer"
                        class="-m-1"
                    />
                </Button>
            </div>
        </div>
        <div class="h-full w-full flex items-center flex-col justify-center">
            <transition-group
                name="gameAnimation"
                tag="div"
                class="
                    border-purple-600 border-4
                    rounded-lg
                    grid grid-flow-col grid-cols-4 grid-rows-4
                    gap-2
                    p-2
                "
                ><div
                    v-for="(item, index) of gameDataObj"
                    :key="index"
                    class="
                        relative
                        flex
                        items-center
                        justify-center
                        flex-col
                        border-gray-600 border
                        w-20
                        h-20
                        rounded-lg
                    "
                    :class="setColor(item)"
                >
                    <div class="text-3xl text-black font-black">
                        {{ item == 0 ? '' : item }}
                    </div>
                </div>
            </transition-group>
            <div></div>
            <div
                class="
                    w-48
                    h-48
                    mt-4
                    mb-2
                    relative
                    flex
                    justify-center
                    items-center
                "
            >
                <input
                    @keydown.up="startMovingTowards($event, 'up')"
                    @keydown.right="startMovingTowards($event, 'right')"
                    @keydown.down="startMovingTowards($event, 'down')"
                    @keydown.left="startMovingTowards($event, 'left')"
                    @keydown.space="saveProgressDataInLS()"
                    @keydown.esc="$event.target.blur()"
                    @keydown.ctrl.exact="fastMode($event)"
                    @input="moveInput = ''"
                    @keydown.delete="returnThePreviousValue($event)"
                    @keydown.enter="resetAndStartGame($event)"
                    v-model="moveInput"
                    class="w-10 h-10 rounded-md cursor-pointer"
                    type="text"
                    ref="inputInterface"
                    id="inputInterface"
                />
                <Button
                    @click="startMovingTowards($event, 'up')"
                    :class="upBtnColor"
                    class="w-16 h-16 top-0 left-16 absolute"
                >
                    <BaseIcon name="moveUp" class="w-6 h-6" />
                </Button>
                <Button
                    @click="startMovingTowards($event, 'right')"
                    :class="rightBtnColor"
                    class="w-16 h-16 top-16 right-0 absolute"
                >
                    <BaseIcon name="moveRight" class="w-6 h-6" />
                </Button>
                <Button
                    @click="startMovingTowards($event, 'down')"
                    :class="downBtnColor"
                    class="w-16 h-16 bottom-0 left-16 absolute"
                >
                    <BaseIcon name="moveDown" class="w-6 h-6" />
                </Button>
                <Button
                    @click="startMovingTowards($event, 'left')"
                    :class="leftBtnColor"
                    class="w-16 h-16 top-16 left-0 absolute"
                >
                    <BaseIcon name="moveLeft" class="w-6 h-6" />
                </Button>
            </div>
        </div>
    </div>
</template>
<style></style>

<script>
import BaseIcon from './UI/BaseIcon.vue'
import Button from './UI/Button.vue'
import VictoryPage from './VictoryPage.vue'
import DefeatPage from './DefeatPage.vue'
import RulesOfTheGame from './RulesOfTheGame.vue'
import StoredDataTable from './StoredDataTable.vue'

export default {
    components: {
        Button,
        BaseIcon,
        VictoryPage,
        DefeatPage,
        RulesOfTheGame,
        StoredDataTable,
    },
    data() {
        return {
            upBtnColor: 'bg-indigo-500',
            rightBtnColor: 'bg-indigo-500',
            downBtnColor: 'bg-indigo-500',
            leftBtnColor: 'bg-indigo-500',
            checkMoveColor: [],
            unitColor: {
                0: 'bg-blue-100',
                1: 'bg-yellow-200',
                2: 'bg-yellow-400',
                3: 'bg-red-300',
                4: 'bg-pink-300',
                5: 'bg-purple-300',
                6: 'bg-red-400',
                7: 'bg-pink-400',
                8: 'bg-purple-400',
                9: 'bg-yellow-500',
                10: 'bg-red-500',
                11: 'bg-pink-500',
                12: 'bg-purple-500',
                13: 'bg-yellow-600',
            },
            direction: {
                up: [
                    [0, 1, 2, 3],
                    [4, 5, 6, 7],
                    [8, 9, 10, 11],
                    [12, 13, 14, 15],
                ],
                left: [
                    [0, 4, 8, 12],
                    [1, 5, 9, 13],
                    [2, 6, 10, 14],
                    [3, 7, 11, 15],
                ],
                right: [
                    [12, 8, 4, 0],
                    [13, 9, 5, 1],
                    [14, 10, 6, 2],
                    [15, 11, 7, 3],
                ],
                down: [
                    [3, 2, 1, 0],
                    [7, 6, 5, 4],
                    [11, 10, 9, 8],
                    [15, 14, 13, 12],
                ],
            },
            victoryNum: 2048,
            showVictoryWindow: 1,
            showLostWindow: false,
            ivl: null,
            timeRunning: null,
            multipleNumber: 2,
            showMultipleBar: false,
            gameStartTime: 0,
            moveInput: '',
            scoreData: 0,
            historyRecordData: [],
            showRecord: false,
            showSpecifications: false,
            gameDataObj: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        }
    },
    methods: {
        close_window() {
            this.showVictoryWindow = false
            this.showLostWindow = false
        },
        clearIntervalGameTime() {
            clearInterval(this.ivl)
            this.timeRunning = false
        },
        runStopWatch() {
            if (this.timeRunning) return
            this.timeRunning = true
            this.ivl = setInterval(() => {
                this.gameStartTime++
            }, 1000)
        },
        setColor(num) {
            let u = this.multipleNumber
            let index = 1
            let res = num == 0 ? 0 : getSumIndex(num)
            function getSumIndex(x) {
                if (x == u) {
                    return index
                }
                index++
                return getSumIndex(x / 2)
            }
            return this.unitColor[res]
        },
        resetAndStartGame(e) {
            if (this.showLostWindow) {
                this.showLostWindow = false
            }
            if (this.targetOut(e)) return
            this.gameStartTime = 0
            let obj = this.gameDataObj
            obj.fill(0)
            for (let i = 0; i < 5; i++) {
                let x = Math.floor(Math.random() * obj.length)
                obj[x] = this.randomNum()
            }
            this.gameDataObj = obj
            this.scoreData = 0
            this.$store.commit('resetGameObj')
            this.runStopWatch()
            this.showVictoryWindow = 1
            this.memoryProgressData()
            this.checkColorOfButtons()
        },
        startMovingTowards(
            event,
            to,
            saveTo = this.gameDataObj,
            protect = false
        ) {
            let obj
            if (!protect) {
                obj = [...this.gameDataObj]
                if (this.targetOut(event) && !protect) {
                    return
                }
            }
            this.moveOperation(this.direction[to][0], saveTo, protect)
            this.moveOperation(this.direction[to][1], saveTo, protect)
            this.moveOperation(this.direction[to][2], saveTo, protect)
            this.moveOperation(this.direction[to][3], saveTo, protect)
            let compare = this.array_compare(this.gameDataObj, obj)
            if (!protect) {
                if (!compare) {
                    this.addRandomNum()
                    this.memoryProgressData()
                }
                if (!this.timeRunning) {
                    this.runStopWatch()
                }
            }
        },
        fastMode(e) {
            this.startMovingTowards(e, 'up')
            this.startMovingTowards(e, 'left')
            this.startMovingTowards(e, 'down')
            this.startMovingTowards(e, 'right')
        },
        moveOperation(array, a, protect) {
            let [x, y, z, h] = array
            ;[a[x], a[y], a[z], a[h]] = this.sortArray(
                [a[x], a[y], a[z], a[h]],
                protect
            )
        },
        sortArray(arrIndex, protect) {
            let result = arrIndex
            function groupNums(arr) {
                let v = arr.filter((el) => (el > 0 ? true : false))
                for (let i = 0; i < arr.length; i++) {
                    if (v[i] > 0) {
                        result[i] = v[i]
                    } else {
                        result[i] = 0
                    }
                }
            }
            groupNums(result)
            for (let i = 0; i < result.length; i++) {
                if (result[i] === result[i + 1] && result[i] > 0) {
                    result[i] = result[i] + result[i + 1]
                    result[i + 1] = 0
                    if (!protect) {
                        this.scoreData += result[i]
                    }
                    break
                }
            }
            groupNums(result)
            return result
        },
        targetOut(event) {
            if (
                this.showVictoryWindow === this.victoryNum ||
                this.showLostWindow
            ) {
                event.target.blur()
                return true
            }
            return false
        },
        array_compare(a, b) {
            for (let i = 0; i < a.length; i++) {
                if (a[i] != b[i]) return false
            }
            return true
        },
        randomNum() {
            let c = this.multipleNumber
            let x = Math.floor(Math.random() * 100)
            return x % 5 === 0 ? c * 2 : c
        },
        addRandomNum() {
            let count = []
            let obj = [...this.gameDataObj]
            for (let i = 0; i < obj.length; i++) {
                if (obj[i] < 1) {
                    count[count.length] = i
                }
            }
            let x = Math.floor(Math.random() * count.length)
            obj[count[x]] = this.randomNum()
            this.gameDataObj = obj
        },
        loadThisGameData(gameData) {
            this.gameDataObj = gameData[3]
            this.scoreData = gameData[0]
            this.gameStartTime = gameData[1]
            this.multipleNumber = gameData[4]
        },
        returnThePreviousValue(e) {
            if (this.showLostWindow) {
                this.showLostWindow = false
            }
            this.targetOut(e)
            let prevGame = this.$store.state.previousGameBoardObj
            if (prevGame.length == 1) {
                return
            }
            this.$store.commit('delleteObj')
            this.scoreData = prevGame[prevGame.length - 1].score
            this.gameDataObj = prevGame[prevGame.length - 1].board
        },
        memoryProgressData() {
            let obj = {
                score: this.scoreData,
                board: [...this.gameDataObj],
            }
            this.$store.commit('pushObject', obj)
        },
        dateNow() {
            let date = new Date()
            let d = date.getDate()
            let m = date.toString().split(' ').splice(1, 1).join(' ')
            let h = date.getHours()
            let min = date.getMinutes()
            return `${d} ${m} ${h}:${min}`
        },
        saveProgressDataInLS(e, onWin = false) {
            if (onWin) {
                e.target.blur()
                this.showVictoryWindow = false
            }
            if (this.scoreData === 0) return
            let history = this.historyRecordData
            let tableNow = [...this.gameDataObj]
            history.push([
                this.scoreData,
                this.gameStartTime,
                this.dateNow(),
                tableNow,
                this.multipleNumber,
            ])
            history.sort(
                (function (index) {
                    return function (a, b) {
                        return a[index] === b[index]
                            ? 0
                            : b[index] < a[index]
                            ? -1
                            : 1
                    }
                })(0)
            )
            if (history.length > 10) {
                history.pop()
            }
            this.historyRecordData = history
            let parsed = JSON.stringify(this.historyRecordData)
            localStorage.setItem('GameProgress', parsed)
        },
        chengeMultipleNumber(num) {
            if (this.multipleNumber == num) {
                return
            }
            this.multipleNumber = num
            this.resetAndStartGame()
        },
        removeThisSavedGameFromLS(index) {
            this.historyRecordData.splice(index, 1)
            localStorage.setItem(
                'GameProgress',
                JSON.stringify(this.historyRecordData)
            )
        },
        checkPossibilityOfMoving(dir) {
            this.checkMoveColor = [...this.gameDataObj]
            this.moveOperation(
                this.direction[dir][0],
                this.checkMoveColor,
                true
            )
            this.moveOperation(
                this.direction[dir][1],
                this.checkMoveColor,
                true
            )
            this.moveOperation(
                this.direction[dir][2],
                this.checkMoveColor,
                true
            )
            this.moveOperation(
                this.direction[dir][3],
                this.checkMoveColor,
                true
            )
            let boolean = this.array_compare(
                this.checkMoveColor,
                this.gameDataObj
            )
            return boolean ? 'bg-red-700' : 'bg-indigo-500'
        },
        computedShowLostWindow() {
            if (
                this.upBtnColor == 'bg-red-700' &&
                this.rightBtnColor == 'bg-red-700' &&
                this.downBtnColor == 'bg-red-700' &&
                this.leftBtnColor == 'bg-red-700'
            ) {
                this.showLostWindow = true
            }
        },
        checkColorOfButtons() {
            this.upBtnColor = this.checkPossibilityOfMoving('up')
            this.rightBtnColor = this.checkPossibilityOfMoving('right')
            this.downBtnColor = this.checkPossibilityOfMoving('down')
            this.leftBtnColor = this.checkPossibilityOfMoving('left')
        },
    },
    watch: {
        multipleNumber(newVal) {
            // { 2: 2048, 3: 3072, 5: 5120 } // victory points
            const arr = { 2: 2048, 3: 3072, 5: 5120 }
            this.victoryNum = arr[newVal]
        },
        gameDataObj(newVal) {
            this.checkColorOfButtons()
            if (this.showVictoryWindow) {
                let e = Math.max.apply(null, newVal)
                this.showVictoryWindow =
                    e > this.showVictoryWindow ? e : this.showVictoryWindow
            }
        },
        upBtnColor() {
            this.computedShowLostWindow()
        },
        rightBtnColor() {
            this.computedShowLostWindow()
        },
        downBtnColor() {
            this.computedShowLostWindow()
        },
        leftBtnColor() {
            this.computedShowLostWindow()
        },
    },
    computed: {},
    mounted() {
        if (localStorage.getItem('GameProgress')) {
            try {
                this.historyRecordData = JSON.parse(
                    localStorage.getItem('GameProgress')
                )
            } catch (e) {
                localStorage.removeItem('GameProgress')
            }
        }
        this.resetAndStartGame()
        this.runStopWatch()
    },
}
</script>

<style>
.block-enter-active,
.block-leave-active {
    transition: all 0.3s ease-out;
}

.block-enter-from,
.block-leave-to {
    transform: translateY(-25px);
    opacity: 0;
}

.gameAnimation-move {
    transition: transform 1s;
}
</style>
