<template>
    <div
        @click="closeBlock"
        class="
            top-0
            bottom-0
            left-0
            right-0
            bg-opacity-80 bg-gray-900
            fixed
            flex
            z-10
        "
    >
        <div
            class="
                m-auto
                h-96
                w-96
                bg-yellow-300
                rounded-xl
                flex
                items-center
                justify-evenly
                flex-col
                border-purple-600 border-4
            "
        >
            <div class="flex justify-center items-center">
                <BaseIcon name="stars" class="h-8 w-8 mx-2" />
                <div class="text-4xl font-bold">YOU WIN</div>
                <BaseIcon name="stars" class="h-8 w-8 mx-2" />
            </div>
            <div class="h-16 px-4 text-lg font-medium text-center">
                Cool, you won by reaching {{ victoryNum }} cells, well done,
                continue for better result !!!
            </div>
            <Button
                @click="saveProgress($event, true)"
                class="w-40 h-12 bg-blue-400"
            >
                SAVE
            </Button>
            <Button @click="closeBlock" class="w-40 h-12 bg-blue-400">
                Continue
            </Button>
        </div>
    </div>
</template>

<script>
import BaseIcon from '../components/UI/BaseIcon.vue'
import Button from './UI/Button.vue'

export default {
    components: {
        BaseIcon,
        Button,
    },
    props: {
        victoryNum: {
            type: Number,
            required: true,
        },
    },
    methods: {
        closeBlock() {
            this.$emit('closeBlock')
        },
        saveProgress(e, boolean) {
            this.$emit('saveProgress', e, boolean)
        },
    },
}
</script>
