<template>
    <svg
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        v-html="path"
    ></svg>
</template>

<script>
import icons from '../../icons'

export default {
    props: ['name'],
    data() {
        return {
            path: icons[this.name],
        }
    },
}
</script>
